.footer {
  background-color: #0a2850;
  padding: 60px 80px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.footer__social-heading {
  margin: 0;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.footer__list-item {
  display: flex;
  gap: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__social-link {
  color: white;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: -1;
  border-radius: 180px;
  overflow: hidden;
}

.footer__copyright {
  margin: 108px 0 0;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
