.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.form__label-terms {
  display: flex;
  align-content: center;
  gap: 12px;
}

.form__input {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #838383;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  max-width: 385px;
  height: 60px;
  border-radius: 4px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: white;
  opacity: 100%;
  background-color: #2f80ed;
  width: 100%;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.form__checkbox:checked {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
