.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 183px 0 28px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: end;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
}

.header__paragraph:last-of-type {
  margin-left: auto;
}
