.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: black;
}
