.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 100px 80px;
  color: white;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__span-accent {
  display: block;
}

.recipes__videos {
  display: flex;
  margin: auto;
  gap: 40px;
}

.recipes__video-item {
  margin-top: 80px;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
